
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
<% if (token) { %>
    Token: <b><%= token %></b><br/>
<% } %>
<button type="button" data-token='<%- token %>' "> Send Token</button>
</p>
<a href="/logout">Log out</a>
<script>
$("button").click(function(){
    var dataToken = $(this).attr('data-token');
    $.ajax({
        type: "POST",
        url: "http://localhost:3001/token",
        beforeSend : function( xhr, ) {
            xhr.setRequestHeader( 'Authorization', 'BEARER ' + dataToken );
        },
        success: function(result) {
            console.log('ajax ok');
        },
        error: function(result) {
            console.log('ajax error');
        }
    });
})
</script>
</html>